<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OWASP OWTF - Health Monitor</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/css/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"></span> OWASP OWTF Health Monitor</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="setting_btn" class="btn"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li><a id="help_btn" class="btn"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-network-status">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-network-status"></div></div>
                        <h4 class="col-sm-6">Network Status</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked onclick="toggleModule(this, 'network-status')">
                            <label class="onoffswitch-label" for="myonoffswitch1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <a data-toggle="modal" href="network.html" data-target="#myModal">
                        <div class="panel-body" style="background: lightgrey" id="off-network-status" hidden></div>
                        <div class="panel-body" id="on-network-status">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-target-status">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-target-status"></div></div>
                        <h4 class="col-sm-6">Target Status</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked onclick="toggleModule(this,'target-status')">
                            <label class="onoffswitch-label" for="myonoffswitch2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                  </div>
                    <a data-toggle="modal" href="target.html" data-target="#myModal">
                  <div class="panel-body" style="background: lightgrey" id="off-target-status" hidden></div>
                    <div class="panel-body" id="on-target-status">
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-disk-status">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-disk-status"></div></div>
                        <h4 class="col-sm-6">Disk space</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked onclick="toggleModule(this, 'disk-status')">
                            <label class="onoffswitch-label" for="myonoffswitch3">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                  </div>
                    <a data-toggle="modal" href="disk.html" data-target="#myModal">
                    <div class="panel-body" style="background: lightgrey" id="off-disk-status" hidden></div>
                    <div class="panel-body" id="on-disk-status">
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-inode-status">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-inode-status"></div></div>
                        <h4 class="col-sm-6">Inode usage</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" checked onclick="toggleModule(this, 'inode-status')">
                            <label class="onoffswitch-label" for="myonoffswitch4">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                  </div>
                    <a data-toggle="modal" href="inode.html" data-target="#myModal">
                 <div class="panel-body" style="background: lightgrey" id="off-inode-status" hidden></div>
                    <div class="panel-body" id="on-inode-status">
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-ram-usage">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-ram-usage"></div></div>
                        <h4 class="col-sm-6">Ram Usage</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" checked onclick="toggleModule(this, 'ram-usage')">
                            <label class="onoffswitch-label" for="myonoffswitch5">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                  </div>
                    <a data-toggle="modal" href="ram.html" data-target="#myModal">
                  <div class="panel-body" style="background: lightgrey" id="off-ram-usage" hidden></div>
                    <div class="panel-body" id="on-ram-usage">
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-cpu-usage">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-cpu-usage"></div></div>
                        <h4 class="col-sm-6">CPU usage</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6" checked onclick="toggleModule(this, 'cpu-usage')">
                            <label class="onoffswitch-label" for="myonoffswitch6">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                  </div>
                    <a data-toggle="modal" href="cpu.html" data-target="#myModal">
                  <div class="panel-body" style="background: lightgrey" id="off-cpu-usage" hidden></div>
                    <div class="panel-body" id="on-cpu-usage">
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-bandwidth-usage">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-bandwidth-usage"></div></div>
                        <h4 class="col-sm-6">Banwidth Usage</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch7" checked onclick="toggleModule(this, 'bandwidth-usage')">
                            <label class="onoffswitch-label" for="myonoffswitch7">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                  </div>
                    <a data-toggle="modal" href="bandwidth.html" data-target="#myModal">
                <div class="panel-body" style="background: lightgrey" id="off-bandwidth-usage" hidden></div>
                    <div class="panel-body" id="on-bandwidth-usage">
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default" id="module-database-metrics">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-2"><div class="led-red" id="led-database-metrics"></div></div>
                        <h4 class="col-sm-6">Database metrics</h4>
                        <div class="onoffswitch col-sm-4 pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch8" checked onclick="toggleModule(this, 'database-metrics')">
                            <label class="onoffswitch-label" for="myonoffswitch8">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                  </div>
                    <a data-toggle="modal" href="database.html" data-target="#myModal">
                <div class="panel-body" style="background: lightgrey" id="off-database-metrics" hidden></div>
                    <div class="panel-body" id="on-database-metrics">
                    </div>
                        </a>
                </div>
            </div>
             <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div> <!-- /.modal-content -->
                </div> <!-- /.modal-dialog -->
            </div> <!-- /.modal -->
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        var modules = {};
        $(document).ready(function () {
            updatePage();
        });

        function toggleModule(checkbox, module) {
            var selectedModule = $("#module-"+module);
            if(checkbox.checked){
                selectedModule.find("#led-"+module).show();
                selectedModule.find("#on-"+module).show();
                selectedModule.find("#off-"+module).hide();
                return;
            }
            selectedModule.find("#led-"+module).hide();
            selectedModule.find("#on-"+module).hide();
            selectedModule.find("#off-"+module).show();
        }
        modules["network-status"] = function () {
        };

        modules["target-status"] = function () {
        };

        modules["disk-status"] = function(module){
            $.getJSON("/module/disk", function (result) {
                alert(module);
                var on = 1;
                for(var key in result){
                    on = on & result[key].partition_status.space;
                }
                if(on){
                    $("#led-"+module).removeClass("led-red").addClass("led-green");
                }
            });
        };

        modules["inode-status"] = function () {
        };

        modules["ram-usage"] = function () {
        };

        modules["cpu-usage"] = function () {
        };

        modules["bandwidth-usage"] = function () {
        };

        modules["database-metrics"] = function () {
        };

       updatePage = function () {
           for(var key in modules){
               //alert(key);

               $.ajax({
                    type: 'GET',
                    url: '/template/'+key,
                    dataType: 'text'
               }).done(function (data) {
                        $("#on-"+key).empty().append(data);
                        modules[key](key);
               }).fail(function (jqXHR, textStatus) {
                    if(textStatus === 'timeout'){
                        alert('Failed from timeout');
                    }
               });
           }
           setTimeout(updatePage, 30000);
       };

    </script>
</body>
</html>
