<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Inode Statistics</title>
</head>
<body>
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">Inode Statistics</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-8">
            Current Partition: <code id="current-partition"></code>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Partition
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="inode-dropdown">
            </ul>
        </div>

    </div>
    <div id="chart"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>			<!-- /modal-footer -->
</body>
<script>
    var charti = {
        ctx:null,
        chart_data:['% Free Inode' ,0,0,0,0,0,0,0],
        partition: "/"
    };
    $(document).ready(function () {
        setupPage();
        charti.ctx = c3.generate({
            data: {
                x: 'x',
                columns: [['x', 0,5,10,15,20,25,30],
                  charti.chart_data],
                types: {
                  data1: 'spline'
                }
            },
            legend: {
                position: 'right'
            },
            axis: {
                y: {
                max: 100,
                min: 10,
                label: '% Free Inodes'
                },
                x:{
                  min:0.3,
                  label: 'Time interval'
                }
            }
        });
    });
    setTimeout(updateGraph, 100);
    setInterval(updateGraph,5000);
    function updateGraph(){
        charti.chart_data.splice(1, 1);
        charti.chart_data.push((data.disk[charti.partition].partition_stats.free_inodes*100)/data.disk[charti.partition].partition_consts.total_inodes);
        charti.ctx.load({
            columns: [
                charti.chart_data
            ]
        });
    }

    function LoadGraph(partition){
        charti.chart_data = ['% Free Inode' ,0,0,0,0,0,0,0];
        charti.partition = partition;
        changeCurrentInodes(partition);
        updateGraph();
    }

    function setupPage(){
        var key;
        for(key in data.disk){
            $("#inode-dropdown").append('<li><a href="#" onclick="LoadGraph(\''+key+'\')">'+key+'</a></li>')
        }
        changeCurrentInodes(key);
        charti.partition = key;
    }

    function changeCurrentInodes(partition){
        $("#current-partition").empty().append(partition);
    }
</script>
</html>
