<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>RAM Statistics</title>
        <link href="../static/css/c3.min.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
        <script src="../static/js/d3.min.js" charset="utf-8"></script>
        <script src="../static/js/c3.min.js"></script>
    </head>
    <body>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">RAM Statistics</h4>
        </div>

        <div id="chart"></div>
        <div class="modal-body">
            <p></p>
        </div>			<!-- /modal-body -->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>			<!-- /modal-footer -->
    </body>
    <script>
        $(document).ready(function () {
            var chart = c3.generate({
            data: {
                columns: [
                    ['Free RAM', 100]
                ],
                type: 'gauge'
            },
            gauge: {
                },
                color: {
                    pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                    threshold: {
                        values: [10, 20, 50, 100]
                    }
                },
                size: {
                    height: 180
                }
            });
        setTimeout(updateGraph,100, chart);
        setInterval(updateGraph,5000, chart);
        });
        function updateGraph(chart) {
            chart.load({
                columns: [['Free RAM', (data.ram.Stats.FreePhysical*100)/data.ram.Consts.TotalPhysical]]
            });
        }

    </script>
</html>