<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting | OWASP OWTF - Health Monitor</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> OWASP OWTF Health Monitor</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="setting_btn" class="btn" href="/preferences/all"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li><a id="help_btn" class="btn"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <br>
                <li class="sidebar-brand">
                    <a href="#" onclick="updatePage('main')">
                        Settings
                    </a>
                </li>
                <li class="sidebar-menu">
                    <a href="#" onclick="updatePage('live')">Network</a>
                </li>
                <li class="sidebar-menu">
                    <a href="#" onclick="updatePage('target')">Target</a>
                </li>
                <li class="sidebar-menu">
                    <a href="#" onclick="updatePage('disk')">Disk</a>
                </li>
                <li class="sidebar-menu">
                    <a href="#">Ram</a>
                </li>
                <li class="sidebar-menu">
                    <a href="#">CPU</a>
                </li>
                <li class="sidebar-menu">
                    <a href="#">Database</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" id="page-data">
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $(document).ready(function () {
            updatePage("main");
            $("form").submit(function(e) {
                e.preventDefault(e);
            });
        });
         $.fn.serializeObject = function()
            {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };
         updatePage = function (key) {
             var section = $("#page-data");
             section.empty();
            $.ajax({
                type: 'GET',
                url: '/description/'+key
            }).done(function (data) {
               section.append(data);

            }).fail(function (jqXHR) {
                    section.append("<p> Module is not ready</p>")
            });
             fillForm(key);

         };
         fillForm = function (key1) {
             $.ajax({
                type: 'GET',
                url: '/settings/'+key1
            }).done(function (data) {
               for (var key in data) {
                   $('input[name="'+key+'"]').val(data[key]);
               }
            }).fail(function (jqXHR) {
            });
         };
         save = function (key) {
            var formData =  JSON.stringify($("form").serializeObject());
            $.post({url:"/settings/"+key,data:formData, contentType:"application/json; charset=utf-8"}
            ).done(function (c) {
                $("#page-data").prepend("<p> Saved the profile successfully</p>");
            }).fail(function () {
                $("#page-data").prepend("<p> Some error occured during saving</p>");
            });
         };
        saveAs = function (key) {
            var profile = prompt("Enter the new profile name:");
            $('input[name="Profile"]').val(profile);
            save(key);
        };
    </script>

</body>
</html>